flask==0.10.1
gevent==0.13.8
gevent-websocket==0.3.6
tinyrpc==0.5
requests==1.2.3
redis==2.7.6
simplekv==0.6
rjsmin==1.0.7
pyinotify==0.9.4
nosexcover==1.0.8
coverage==3.6
PIL==1.1.7
#
#PyExecJS==1.0.4
#-e .
