{

    "callback_id" : "request uuid4",
    "result"      : "{ok o error}",
    "event_id"    : "uuid4", /* entrada opcional" */
    "msg"         : "mensaje de error, si 'result' = 'error'",
    "class"       : "class_name",
    "form" :
        {
        /* dform template */
        },
    "data" :
        {
            "field0" :
                {
                    "value"   : "**********",
                    "mandatory"  : "True o False", /* entrada opcional, en ausencia : "False" */
                    "editable"   : "True o False", /* entrada opcional, en ausencia : "False" */
                    "options" : ["xx","yy","zz"]   /* entrada opcional */
                },
            "field1" :
                {
                    "value"   : "**********",
                    "mandatory"  : "True o False", /* entrada opcional, en ausencia : "False" */
                    "editable"   : "True o False", /* entrada opcional, en ausencia : "False" */
                    "options" : ["xx","yy","zz"]   /* entrada opcional */
                },
            "field_n" :
                {
                    "value"   : "**********",
                    "options" : ["xx","yy","zz"]
                }
        },
    "actions" : ["create", "delete", "edit"],
    "translations" :
         {
             "key"    : "Llave",
             "field"  : "Campo",
             "create" : "Crear",
             "edit"   : "Editar",
             "delete" : "Borrar"
         }
}